---
import { Image } from "astro:assets";
import CardTitle from "./CardTitle.astro";
type Props = {
  title?: string;
  position?: "left" | "right";
  colorTitle?: string;
  description?: string;
  buttonText?: string;
  buttonLink?: string;
  imagePriUrl?: string;
  imageSubUrl?: string;
};

const {
  title,
  position = "left",
  colorTitle = "cl-black",
  description,
  buttonText,
  buttonLink,
  imagePriUrl,
  imageSubUrl,
} = Astro.props;
---

<div class={`card-block-full ${position}`}>
  <div class="row align-items-center">
    <div class="col-lg-6 position-relative card-block-full__first">
      <div class="card-block-full__left">
        {
          imagePriUrl && (
            <div class="card-block-full__pri">
              <Image
                src={imagePriUrl}
                alt={title || "Room Image"}
                class:list="img-width"
                width={1356}
                height={904}
                quality={30}
              />
            </div>
          )
        }
        {
          imageSubUrl && (
            <div class="card-block-full__sub sd-big radius-12 d-none d-lg-block">
              <Image
                src={imageSubUrl as any}
                alt={title || "Room Image"}
                class:list="img-width radius-12"
                width={1356}
                height={904}
                quality={30}
              />
            </div>
          )
        }
      </div>
    </div>
    <div class="col-lg-6 card-block-full__second cs-mt-40 cs-lg-mt-0">
      <div
        class="card-block-full__right cs-px-16 cs-md-px-110 text-center text-lg-start"
      >
        <CardTitle
          title={title}
          colorTitle={colorTitle}
          description={description}
          buttonText={buttonText}
          buttonLink={buttonLink}
        />
      </div>
    </div>
  </div>
</div>
