---
interface Props {
  title: string;
  description: string;
  images: string;
  url: string;
}
const { title, description, images, url } = Astro.props;
import Seo from "@components/Seo.astro";
import "../styles/index.scss";
import HeadLibrary from "@components/HeadLibrary.astro";
import BodyLibrary from "@components/BodyLibrary.astro";

---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={description} />
    <Seo 
      title={title} 
      description={description || 'Với không gian nhỏ xinh, phong cách ấm cúng, home tin rằng bạn sẽ cảm nhận được sự gần gũi và thoải mái như chính ngôi nhà của mình.'}
      url={Astro.url}
      image={images}
    />
    <HeadLibrary />
  </head>
  <body>
    <BodyLibrary />
    <slot />
  </body>
</html>
